[Desktop Entry]
Type=Application
Name=Photo Slideshow
Exec=bash -c "feh -r --fullscreen --zoom fill --slideshow-delay 20 --randomize --hide-pointer ~/Pictures/photos"
X-GNOME-Autostart-enabled=true
Terminal=false
